<a href="https://colab.research.google.com/github/Rose-Kimu/Machine-Learning-Practice/blob/main/Classification_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from  __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf
import pandas as pd

In [ ]:
CSV_COLUMN_NAMES = ['SepalLength', 'SepalWidth', 'PetalWidth', 'Species']
SPECIES = ['Setosa', 'Versicolor','Virginica']

train_path = tf.keras.utils.get_file(
    'iris_training.csv', "https://storage.googleapis.com/download.tensorflow.org/data/iris_training.csv"

)

test_path = tf.keras.utils.get_file(
    'iris_test.csv', "https://storage.googleapis.com/download.tensorflow.org/data/iris_test.csv"

)

train = pd.read_csv(train_path, names=CSV_COLUMN_NAMES, header=0)
test = pd.read_csv(test_path, names=CSV_COLUMN_NAMES, header=0)

#here we use keras (a module inside of TensorFlow) to grab our datasets and read them into a pandas dataframe

train.head()

     SepalLength  SepalWidth  PetalWidth  Species
6.4          2.8         5.6         2.2        2
5.0          2.3         3.3         1.0        1
4.9          2.5         4.5         1.7        2
4.9          3.1         1.5         0.1        0
5.7          3.8         1.7         0.3        0

In [ ]:
train.head()

     SepalLength  SepalWidth  PetalWidth  Species
6.4          2.8         5.6         2.2        2
5.0          2.3         3.3         1.0        1
4.9          2.5         4.5         1.7        2
4.9          3.1         1.5         0.1        0
5.7          3.8         1.7         0.3        0

In [ ]:
train_y = train.pop('Species')
test_y = test.pop('Species')
train.head()

     SepalLength  SepalWidth  PetalWidth
6.4          2.8         5.6         2.2
5.0          2.3         3.3         1.0
4.9          2.5         4.5         1.7
4.9          3.1         1.5         0.1
5.7          3.8         1.7         0.3

In [ ]:
train_y.head()

In [ ]:
test_y.head()

In [ ]:
train.shape

(120, 3)

In [ ]:
train.shape

(120, 3)

In [ ]:
train.head()

     SepalLength  SepalWidth  PetalWidth
6.4          2.8         5.6         2.2
5.0          2.3         3.3         1.0
4.9          2.5         4.5         1.7
4.9          3.1         1.5         0.1
5.7          3.8         1.7         0.3

In [ ]:
def input_fn(features, labels, training=True, batch_size=256):
  #Convert  the inputs toa dataset
  dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

  #Shuffle and repeat if you are on training mode
  if training:
    dataset = dataset.shuffle(1000).repeat()

  return dataset.batch(batch_size)

In [ ]:
#Feature columns describe how to use the input
my_feature_columns = []
for key in train.keys():
  my_feature_columns.append(tf.feature_column.numeric_column(key=key))
print(my_feature_columns)

WARNING:tensorflow:From <ipython-input-24-629b275cd2c7>:4: numeric_column (from tensorflow.python.feature_column.feature_column_v2) is deprecated and will be removed in a future version.
Instructions for updating:
Use Keras preprocessing layers instead, either directly or via the `tf.keras.utils.FeatureSpace` utility. Each of `tf.feature_column.*` has a functional equivalent in `tf.keras.layers` for feature preprocessing when training a Keras model.

[NumericColumn(key='SepalLength', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='SepalWidth', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalWidth', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [ ]:
#Build a DNN with 2 hidden layers with 30 and 10 hiden layers each
classifier = tf.estimator.DNNClassifier(
    feature_columns = my_feature_columns,
    #  Two hidden layers of 30 and 10 nodes respectively
    hidden_units = [30, 10],
    # The model must choose between 3 classes
    n_classes = 3
)

classifier.train(
    input_fn = lambda: input_fn(train, train_y, training=True),
    steps = 5000

)

In [ ]:
eval_result = classifier.evaluate(input_fn = lambda: input_fn(test, test_y, training=False))

In [ ]:
print('\nTest set accuracy: {accuracy:0.3f} \n'.format(**eval_result))

Test set accuracy: 0.867

In [ ]:
def input_fn(features, batch_size=256):
  #Convert the inputs to a dataset without labels
  return tf.data.Dataset.from_tensor_slices(dict(features)).batch(batch_size)

features = ['SepalLength', 'SepalWidth','PetalLength', 'PetalWidth']
predict = {}

print('Please type numeric values as prompted')
for feature in features:
  valid = True
  while valid:
    val = input(feature + ":")
    if not val.isdigit(): valid = False

  predict[feature] = [float(val)]

predictions = classifier.predict(input_fn=lambda: input_fn(predict))

for pred_dict in predictions:
  print(pred_dict)
  class_id = pred_dict['class_ids'][0]
  probability = pred_dict ['probabilities'][class_id]

  print('Prediction is "{}" ({:.1f}%)'.format(
      SPECIES[class_id], 100 * probability )
  )

Please type numeric values as prompted
SepalLength:2.4
SepalWidth:5.6
PetalLength:3.6
PetalWidth:2.0
{'logits': array([-3.0760632 ,  0.36837375,  1.5673759 ], dtype=float32), 'probabilities': array([0.0073407 , 0.22995226, 0.762707  ], dtype=float32), 'class_ids': array([2]), 'classes': array([b'2'], dtype=object), 'all_class_ids': array([0, 1, 2], dtype=int32), 'all_classes': array([b'0', b'1', b'2'], dtype=object)}
Prediction is "Virginica" (76.3%)